In [27]:
import pandas as pd

In [28]:
df=pd.read_excel(r"C:\Users\Abdouuulbari\Desktop\ELITECH\Python\DATA_IMP\EXCEL_FILES\world_evolution_covid19.xlsx")

In [29]:
df.head()

,Unnamed: 0,Date,Total Cas,Total Morts,Total Guérisons,% Décès,% Guérison,% Malade,Cas/jrs,Décès/jrs,Guérisons/jrs
0,0,2020-06-21,8 858 407,465 823,4 399 131,"5,26%","49,66%","45,08%",+59 722,+1 293,+17 206
1,1,2020-06-20,8 798 685,464 530,4 381 925,"5,28%","49,80%","44,92%",+127 023,+4 449,+132 528
2,2,2020-06-19,8 671 662,460 081,4 249 397,"5,31%","49,00%","45,69%",+176 251,+6 033,+90 734
3,3,2020-06-18,8 495 411,454 048,4 158 663,"5,34%","48,95%","45,70%",+139 293,+5 026,+81 265
4,4,2020-06-17,8 356 118,449 022,4 077 398,"5,37%","48,80%","45,83%",+176 157,+5 274,+118 838

In [30]:
df.dtypes

Unnamed: 0          int64
Date               object
Total Cas          object
Total Morts        object
Total Guérisons    object
% Décès            object
% Guérison         object
% Malade           object
Cas/jrs            object
Décès/jrs          object
Guérisons/jrs      object
dtype: object

In [31]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)
df.rename(columns={"Total Cas":"T_Cas","Total Morts":"T_Morts","Total Guérisons":"T_Guérisons"},inplace=True)

In [32]:
 for i in range(len(df["T_Cas"])):
    df["T_Cas"][i]=int(df["T_Cas"][i].replace('\xa0',''))
#df["T_Cas"].sum()

AttributeError: 'int' object has no attribute 'replace'

In [33]:
df["T_Cas"].sum()

377270671

In [34]:
for i in range(len(df["T_Morts"])):
    df["T_Morts"][i]=int(df["T_Morts"][i].replace('\xa0',''))
df["T_Morts"].sum()

23031499

In [35]:
df["T_Morts"].sum()

23031499

In [36]:
for i in range(len(df["T_Guérisons"])):
    df["T_Guérisons"][i]=int(df["T_Guérisons"][i].replace('\xa0',''))
df["T_Guérisons"].sum()

147962443

In [37]:
for i in range(len(df["Cas/jrs"])):
    df["Cas/jrs"][i]=df["Cas/jrs"][i].replace('\xa0','')
    df["Cas/jrs"][i]=int(df["Cas/jrs"][i].replace('+',''))
df["Cas/jrs"].sum()

8858407

In [38]:
for i in range(len(df["Décès/jrs"])):
    df["Décès/jrs"][i]=df["Décès/jrs"][i].replace('\xa0','')
    df["Décès/jrs"][i]=int(df["Décès/jrs"][i].replace('+',''))
df["Décès/jrs"].sum()

465823

In [39]:
for i in range(len(df["Guérisons/jrs"])):
    df["Guérisons/jrs"][i]=df["Guérisons/jrs"][i].replace('\xa0','')
    df["Guérisons/jrs"][i]=int(df["Guérisons/jrs"][i].replace('+',''))
df["Guérisons/jrs"].sum()

4399131

In [40]:
for i in range(len(df["% Décès"])):
    df["% Décès"][i]=df["% Décès"][i].replace(',','.')
    df["% Décès"][i]=float(df["% Décès"][i].replace('%',''))
df["% Décès"].sum()

741.5399999999992

In [45]:
for i in range(len(df["% Guérison"])):
    df["% Guérison"][i]=df["% Guérison"][i].replace(',','.')
    df["% Guérison"][i]=float(df["% Guérison"][i].replace('%',''))
df["% Guérison"].sum()

4649.509999999999

In [42]:
for i in range(len(df["% Malade"])):
    df["% Malade"][i]=df["% Malade"][i].replace(',','.')
    df["% Malade"][i]=float(df["% Malade"][i].replace('%',''))
df["% Malade"].sum()

9808.960000000003

In [47]:
import numpy as np

df = df.replace(np.nan, 0, regex=True)
df['Date'] = pd.to_datetime(df['Date'],  format = '%Y/%m/%d')

In [48]:
df.head()

,Date,T_Cas,T_Morts,T_Guérisons,% Décès,% Guérison,% Malade,Cas/jrs,Décès/jrs,Guérisons/jrs
0,2020-06-21,8858407,465823,4399131,5.26,49.66,45.08,59722,1293,17206
1,2020-06-20,8798685,464530,4381925,5.28,49.80,44.92,127023,4449,132528
2,2020-06-19,8671662,460081,4249397,5.31,49.00,45.69,176251,6033,90734
3,2020-06-18,8495411,454048,4158663,5.34,48.95,45.70,139293,5026,81265
4,2020-06-17,8356118,449022,4077398,5.37,48.80,45.83,176157,5274,118838

In [49]:
df.dtypes

Date             datetime64[ns]
T_Cas                     int64
T_Morts                   int64
T_Guérisons               int64
% Décès                 float64
% Guérison              float64
% Malade                float64
Cas/jrs                   int64
Décès/jrs                 int64
Guérisons/jrs             int64
dtype: object

In [50]:
df.to_excel(r'C:\Users\Abdouuulbari\Desktop\ELITECH\Python\DATA_IMP\Data after cleaning\world_evolution_covid19.xlsx')

###file 2

In [190]:
df=pd.read_excel(r"C:\Users\Abdouuulbari\Desktop\ELITECH\Python\DATA_IMP\EXCEL_FILES\world_covid19.xlsx")
df.head()

,Unnamed: 0,Date,Pays,Cas,Décès,Guérisons,% Décès,% Guérisons,% Malades,Cas.1,Décès.1,Guéris
0,0,2020-06-21,États-Unis,2 269 463,119 868,617 460,"5,28%","27,21%","67,51%",+14 344,149,0
1,1,2020-06-21,Brésil,1 032 913,49 976,576 779,"4,84%","55,84%","39,32%",0,0,-12 295
2,2,2020-06-21,Russie,583 879,8 101,339 142,"1,39%","58,08%","40,53%",+7 717,109,+5 118
3,3,2020-06-21,Inde,410 451,13 254,227 728,"3,23%","55,48%","41,29%",-10,0,-28
4,4,2020-06-21,Royaume-Uni,305 803,42 717,1 319,"13,97%","0,43%","85,60%",+1 399,43,+176

In [191]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [193]:
df.rename(columns={"Cas":"T_Cas","Décès":"T_Décès","Guérisons":"T_Guérisons","Cas.1":"Cas/jrs","Décès.1":"Décès/jrs","Guéris":"Guéris/jrs","% Guérisons":"% Guérison","% Malades":"% Malade","Guéris/jrs":"Guérisons/jrs"},inplace=True)
df

,Date,Pays,T_Cas,T_Décès,T_Guérisons,% Décès,% Guérison,% Malade,Cas/jrs,Décès/jrs,Guérisons/jrs
0,2020-06-21,États-Unis,2 269 463,119 868,617 460,"5,28%","27,21%","67,51%",+14 344,149,0
1,2020-06-21,Brésil,1 032 913,49 976,576 779,"4,84%","55,84%","39,32%",0,0,-12 295
2,2020-06-21,Russie,583 879,8 101,339 142,"1,39%","58,08%","40,53%",+7 717,109,+5 118
3,2020-06-21,Inde,410 451,13 254,227 728,"3,23%","55,48%","41,29%",-10,0,-28
4,2020-06-21,Royaume-Uni,305 803,42 717,1 319,"13,97%","0,43%","85,60%",+1 399,43,+176
...,...,...,...,...,...,...,...,...,...,...,...
182,2020-06-21,Vatican,12,0,12,"0,00%","100,00%","0,00%",0,0,0
183,2020-06-21,Seychelles,11,0,11,"0,00%","100,00%","0,00%",0,0,0
184,2020-06-21,Sahara Occidental,9,1,8,"11,11%","88,89%","0,00%",0,0,0
185,2020-06-21,Papouasie-Nouvelle-Guinée,8,0,8,"0,00%","100,00%","0,00%",0,0,0
186,2020-06-21,Lesotho,4,0,2,"0,00%","50,00%","50,00%",0,0,0

In [220]:
import numpy as np

df = df.replace(np.nan, 0, regex=True)
df['Date'] = pd.to_datetime(df['Date'],  format = '%Y/%m/%d')
df["Pays"].dtypes

dtype('O')

In [221]:
for i in range(len(df["T_Cas"])):
    df["T_Cas"][i]=int(df["T_Cas"][i].replace('\xa0',''))
df["T_Cas"].sum()

AttributeError: 'numpy.int64' object has no attribute 'replace'

In [222]:
for i in range(len(df["% Malade"])):
    df["% Malade"][i]=df["% Malade"][i].replace(',','.')
    df["% Malade"][i]=float(df["% Malade"][i].replace('%',''))
df["% Malade"].sum()

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [223]:
for i in range(len(df["% Guérison"])):
    df["% Guérison"][i]=df["% Guérison"][i].replace(',','.')
    df["% Guérison"][i]=float(df["% Guérison"][i].replace('%',''))
df["% Guérison"].sum()

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [224]:
for i in range(len(df["% Décès"])):
    df["% Décès"][i]=df["% Décès"][i].replace(',','.')
    df["% Décès"][i]=float(df["% Décès"][i].replace('%',''))
df["% Décès"].sum()

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [225]:
for i in range(len(df["Guérisons/jrs"])):
    df["Guérisons/jrs"][i]=df["Guérisons/jrs"][i].replace('\xa0','')
    df["Guérisons/jrs"][i]=int(df["Guérisons/jrs"][i].replace('+',''))
    df["Guérisons/jrs"][i]=int(df["Guérisons/jrs"][i].replace('-',''))
df["Guérisons/jrs"].sum()

AttributeError: 'numpy.int64' object has no attribute 'replace'

In [226]:
#for i in range(len(df["Décès/jrs"])):
   # df["Décès/jrs"][i]=df["Décès/jrs"][i].replace('\xa0','')
    #df["Décès/jrs"][i]=int(df["Décès/jrs"][i].replace('+',''))
df["Décès/jrs"].sum()

1366

In [227]:
for i in range(len(df["Cas/jrs"])):
    df["Cas/jrs"][i]=df["Cas/jrs"][i].replace('\xa0','')
    df["Cas/jrs"][i]=int(df["Cas/jrs"][i].replace('+',''))
df["Cas/jrs"].sum()

AttributeError: 'numpy.int64' object has no attribute 'replace'

In [228]:
for i in range(len(df["T_Guérisons"])):
    df["T_Guérisons"][i]=int(df["T_Guérisons"][i].replace('\xa0',''))
df["T_Guérisons"].sum()

AttributeError: 'numpy.int64' object has no attribute 'replace'

In [229]:
for i in range(len(df["T_Décès"])):
    df["T_Décès"][i]=int(df["T_Décès"][i].replace('\xa0',''))
df["T_Décès"].sum()

AttributeError: 'numpy.int64' object has no attribute 'replace'

In [234]:
for i in range(len(df["Pays"])):
    df["Pays"][i]=str(df["Pays"][i])
df["Pays"].sum()

C:\Users\Abdouuulbari\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

"États-UnisBrésilRussieIndeRoyaume-UniPérouEspagneChiliItalieIranFranceAllemagneTurquiePakistanMexiqueArabie SaouditeBangladeshCanadaAfrique du SudQatarChineColombieBelgiqueBélarusSuèdeÉgypteÉquateurPays-BasIndonésieÉmirats Arabes UnisSingapourArgentineKoweïtPortugalUkrainePologneSuisseIraqPhilippinesOmanAfghanistanRépublique DominicaineIrlandePanamaRoumanieBolivieBahreïnIsraëlArménieNigériaJaponAutricheKazakhstanMoldavieGhanaSerbieGuatemalaAzerbaïdjanDanemarkCorée du SudHondurasAlgérieCamerounRépublique TchèqueMarocNépalNorvègeSoudanMalaisieAustralieCôte d'IvoireFinlandeOuzbékistanSénégalRép. Dém. du CongoTadjikistanMacédoineHaïtiGuinéeKenyaEl SalvadorDjiboutiÉthiopieGabonLuxembourgHongrieBulgarieVenezuelaBosnie-HerzégovineGrèceKirghizistanThaïlandeMauritanieRépublique CentrafricaineSomalieCroatieCubaCosta RicaMaldivesEstonieAlbanieSri LankaMaliSoudan du sudIslandeNicaraguaLituanieGuinée ÉquatorialeMadagascarLibanSlovaquieGuinée-BissauSlovénieNouvelle-ZélandeKosovoZambieParaguaySierra LeoneTunisieLettonieNigerJordanieChypreYémenGéorgieBurkina FasoCap-vertCongo (Brazzaville)UruguayTchadAndorrePalestineOugandaBéninMozambiqueMalawiRwandaAutresSao Tomé-et-PrincipeSaint-MarinMalteJamaïqueEswatiniLibériaTogoLibyeTanzanieZimbabweTaïwanMontenegroViet NamMauriceSurinameBirmanieComoresMongolieSyrieAngolaGuyanaBurundiÉrythréeBrunéi DarussalamCambodgeTrinité-et-TobagoBahamasMonacoBarbadeBotswanaLiechtensteinBhoutanNamibieGambieSt-Vincent / GrenadinesAntigua-et-BarbudaTimor-LesteGrenadeBelizeLaosSainte-LucieDominiqueFidjiSaint-Kitts-et-NevisVaticanSeychellesSahara OccidentalPapouasie-Nouvelle-GuinéeLesotho"

In [233]:
df.dtypes

Date             datetime64[ns]
Pays                     object
T_Cas                     int64
T_Décès                   int64
T_Guérisons               int64
% Décès                 float64
% Guérison              float64
% Malade                float64
Cas/jrs                   int64
Décès/jrs                 int64
Guérisons/jrs             int64
dtype: object

In [235]:
df.to_excel(r'C:\Users\Abdouuulbari\Desktop\ELITECH\Python\DATA_IMP\Data after cleaning\world_covid19.xlsx')