In [120]:
import import_ipynb
import numpy as np

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
%matplotlib inline

import plotly
import chart_studio.plotly as py

import plotly.express as px
import plotly.graph_objects as go
plt.rcParams['figure.figsize']=17,8
import cufflinks as cf

import plotly.offline as pyo
from plotly.offline import init_notebook_mode,plot,iplot


import folium

In [121]:
pyo.init_notebook_mode(connected=True)
cf.go_offline()

In [122]:
df= pd.read_excel(r"C:\Users\Abdouuulbari\Desktop\ELITECH\Python\DATA_IMP\EXCEL_FILES\world_evolution_covid19.xlsx")

df.head()

,Unnamed: 0,Date,Total Cas,Total Morts,Total Guérisons,% Décès,% Guérison,% Malade,Cas/jrs,Décès/jrs,Guérisons/jrs
0,0,2020-06-21,8 858 407,465 823,4 399 131,"5,26%","49,66%","45,08%",+59 722,+1 293,+17 206
1,1,2020-06-20,8 798 685,464 530,4 381 925,"5,28%","49,80%","44,92%",+127 023,+4 449,+132 528
2,2,2020-06-19,8 671 662,460 081,4 249 397,"5,31%","49,00%","45,69%",+176 251,+6 033,+90 734
3,3,2020-06-18,8 495 411,454 048,4 158 663,"5,34%","48,95%","45,70%",+139 293,+5 026,+81 265
4,4,2020-06-17,8 356 118,449 022,4 077 398,"5,37%","48,80%","45,83%",+176 157,+5 274,+118 838

In [123]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)
df.rename(columns={"Total Cas":"T_Cas","Total Morts":"T_Morts","Total Guérisons":"T_Guérisons"},inplace=True)

In [124]:
df.head()

,Date,T_Cas,T_Morts,T_Guérisons,% Décès,% Guérison,% Malade,Cas/jrs,Décès/jrs,Guérisons/jrs
0,2020-06-21,8 858 407,465 823,4 399 131,"5,26%","49,66%","45,08%",+59 722,+1 293,+17 206
1,2020-06-20,8 798 685,464 530,4 381 925,"5,28%","49,80%","44,92%",+127 023,+4 449,+132 528
2,2020-06-19,8 671 662,460 081,4 249 397,"5,31%","49,00%","45,69%",+176 251,+6 033,+90 734
3,2020-06-18,8 495 411,454 048,4 158 663,"5,34%","48,95%","45,70%",+139 293,+5 026,+81 265
4,2020-06-17,8 356 118,449 022,4 077 398,"5,37%","48,80%","45,83%",+176 157,+5 274,+118 838

In [125]:
df.dtypes

Date             object
T_Cas            object
T_Morts          object
T_Guérisons      object
% Décès          object
% Guérison       object
% Malade         object
Cas/jrs          object
Décès/jrs        object
Guérisons/jrs    object
dtype: object

In [126]:
#### changing columns type

In [127]:
df = df.replace(np.nan, 0, regex=True)
df['Date'] = pd.to_datetime(df['Date'],  format = '%Y/%m/%d')
df.dtypes

Date             datetime64[ns]
T_Cas                    object
T_Morts                  object
T_Guérisons              object
% Décès                  object
% Guérison               object
% Malade                 object
Cas/jrs                  object
Décès/jrs                object
Guérisons/jrs            object
dtype: object

In [128]:
#df['T_Cas']=df['T_Cas'].astype(long)
#df['T_Cas'].astype(str).astype('int64')

In [129]:
df["T_Cas"].dtypes

dtype('O')

In [130]:
df

,Date,T_Cas,T_Morts,T_Guérisons,% Décès,% Guérison,% Malade,Cas/jrs,Décès/jrs,Guérisons/jrs
0,2020-06-21,8 858 407,465 823,4 399 131,"5,26%","49,66%","45,08%",+59 722,+1 293,+17 206
1,2020-06-20,8 798 685,464 530,4 381 925,"5,28%","49,80%","44,92%",+127 023,+4 449,+132 528
2,2020-06-19,8 671 662,460 081,4 249 397,"5,31%","49,00%","45,69%",+176 251,+6 033,+90 734
3,2020-06-18,8 495 411,454 048,4 158 663,"5,34%","48,95%","45,70%",+139 293,+5 026,+81 265
4,2020-06-17,8 356 118,449 022,4 077 398,"5,37%","48,80%","45,83%",+176 157,+5 274,+118 838
...,...,...,...,...,...,...,...,...,...,...
147,2020-01-26,2 118,56,52,"2,64%","2,46%","94,90%",+680,+14,+13
148,2020-01-25,1 438,42,39,"2,92%","2,71%","94,37%",+497,+16,+3
149,2020-01-24,941,26,36,"2,76%","3,83%","93,41%",+288,+8,+6
150,2020-01-23,653,18,30,"2,76%","4,59%","92,65%",+98,+1,+2
151,2020-01-22,555,17,28,"3,06%","5,05%","91,89%",+555,+17,+28

In [131]:
for i in range(len(df["T_Cas"])):
    df["T_Cas"][i]=int(df["T_Cas"][i].replace('\xa0',''))
df["T_Cas"].sum()

AttributeError: 'int' object has no attribute 'replace'

In [132]:

for i in range(len(df["T_Morts"])):
    df["T_Morts"][i]=int(df["T_Morts"][i].replace('\xa0',''))
df["T_Morts"].sum()

23031499

In [133]:

for i in range(len(df["T_Guérisons"])):
    df["T_Guérisons"][i]=int(df["T_Guérisons"][i].replace('\xa0',''))
df["T_Guérisons"].sum()

147962443

In [134]:

for i in range(len(df["Cas/jrs"])):
    df["Cas/jrs"][i]=df["Cas/jrs"][i].replace('\xa0','')
    df["Cas/jrs"][i]=int(df["Cas/jrs"][i].replace('+',''))
df["Cas/jrs"].sum()

8858407

In [119]:

for i in range(len(df["Décès/jrs"])):
    df["Décès/jrs"][i]=df["Décès/jrs"][i].replace('\xa0','')
    df["Décès/jrs"][i]=int(df["Décès/jrs"][i].replace('+',''))
df["Décès/jrs"].sum()

465823

In [ ]:

for i in range(len(df["Guérisons/jrs"])):
    df["Guérisons/jrs"][i]=df["Guérisons/jrs"][i].replace('\xa0','')
    df["Guérisons/jrs"][i]=int(df["Guérisons/jrs"][i].replace('+',''))
df["Guérisons/jrs"].sum()

In [ ]:

for i in range(len(df["% Décès"])):
    df["% Décès"][i]=df["% Décès"][i].replace(',','.')
    df["% Décès"][i]=float(df["% Décès"][i].replace('%',''))
df["% Décès"].sum()

In [ ]:

for i in range(len(df["% Guérison"])):
    df["% Guérison"][i]=df["% Guérison"][i].replace(',','.')
    df["% Guérison"][i]=float(df["% Guérison"][i].replace('%',''))
df["% Guérison"].sum()

In [ ]:

for i in range(len(df["% Malade"])):
    df["% Malade"][i]=df["% Malade"][i].replace(',','.')
    df["% Malade"][i]=float(df["% Malade"][i].replace('%',''))
df["% Malade"].sum()
#     print(type(df["T_Morts"][i]))
#     T_Cas T_Morts T_Guérisons % Décès % Guérison % Malade Cas/jrs Décès/jrs Guérisons/jrs